*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a {
    text-decoration: none; /*下划线取消*/
}
img {
    border: 0;
}
.wrapper{
    margin: 0 auto;
    width: 1226px;
}


.nav{
    background: #333 ;
    height: 40px;
}
.nav .wrapper a:hover{
    color: #ffffff;
}
.user-info {
    float: right;
}
.main-nav li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.main-nav li a{
    color: #b0b0b0;
    font-size:12px;
}
.main-nav li span{
    margin:0 5px;
    color: #424242;
}
/*购物车部分*/
.nav .main-nav .car {
    background: #424242;
    width: 120px;
    height: 40px;
    text-align: center;
    position: relative;
}
.nav .main-nav .car a{
    display: block;
    width: 100%;
    height: 100%;
}
.nav .main-nav .car i{
    font-size: 1px;
}
.nav .main-nav .car .car-content{
    width: 300px;
    height: 0px;
    font-size: 12px;
    line-height:100px;
    position: absolute;
    right:0px;
    top: 40px;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.1);/*边框样式   1水平2垂直3模糊度4延伸5颜色*/
    display: none;
    overflow: hidden;

}
.nav .main-nav .car:hover a{
    color:#ff6700;
    background:#ffffff;
}
.nav .main-nav .car:hover .car-content{
    display: block;
    animation:show 0.5s ease-in 0s forwards;/*动画效果 1名字2运行时间3动画效果4运行时间5循环模式*/
}
@keyframes show /*控制动画*/{
    100%{
        height: 100px;}
}

/*购物车结束*/
/*二级水平菜单开始*/
.sub-nav{
    position: relative;
}
.sub-nav .header{
    height: 100px;
    /*background: #00ff00;     !*注释掉就ok*!*/

}
.sub-nav .header div{
    float: left;
}

.sub-nav .left{
    width: 62px;
    margin-top: 22px;
}
.mi-logo {
    width: 55px;
    height: 55px;
    background:#ff6700 url("../img/mi-logo.png") no-repeat center center;
}

/*left结束*/
/*center开始*/
.sub-nav .center{
    width: 850px;
    margin-top:42px;
    margin-left:180px;
}
.sub-nav .center .menu-item a{
    color:#333333;
    font-size:16px;
    display: block;
    width: 100%;
    height: 100%;
    padding:0 10px;
}
.sub-nav .center .menu-item{
    float: left;
    height: 60px;
}
.sub-nav .center .menu-item a:hover{
    color: #ff6700;
}
.menu-{
    width: 100%;
    height: 0px;
    background: blue;
    display: none;
    position: absolute;
    top:100px;
    left:0px;
    overflow: hidden;
}
.menu-a{
    float: left;
}
.center .menu-item:hover .menu-{
    display: block;
/*}*/
/*.menu-{*/
    animation:menu 0.5s ease-in 0s forwards;/*动画效果 1名字2运行时间3动画效果4运行时间5循环模式*/
}
@keyframes menu /*控制动画*/{
    100%{
        height: 100px;}
}


